.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.navLogo {
    width: 80px;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}

.navContent {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #fff;
    color: #262626;
}