.connect {
    width: 100vw;
    height: 100vh;
    padding: 50px;
    overflow: hidden;
}

.formContainer {
    margin: 60px auto auto auto;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.formContainer h1{
    font-size: 20px;
    line-height: 28px;
}

form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    font-size: 12px;
}
form span,
.submit{
    font-weight: bold;
}

label{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.infos, 
textarea{
    background-color: #262626;
    border: 1px solid #ebebeb;
    padding: 10px;
}

.submit{
    background-color: #ebebeb;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    color: #262626;
}

.submit:hover{
    cursor: pointer;
    background-color: #cc8503;
    color: #262626;
}

@media (max-width: 850px){
    .connect {
        padding: 50px 10px 50px 10px;
    }

    .formContainer {
        padding: 10px 20px;
        gap: 30px;
    }
}

@media (max-width: 425px){

    .formContainer{
        margin: 60px auto auto auto;
    }

    .formContainer h1{
        font-size: 15px;
        line-height: 23px;
    }
}
