.hero {
    padding: 80px 100px 0 100px;
    color: #ebebeb;
    height: 100vh;
}

.hero h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}


.heroExplore {
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    padding: 5px 8px;
    padding-left: 30px;
    background-color: #ebebeb;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}


.heroExplore:hover {
    padding-left: 50px;
}

.heroExplore p {
    color: #262626;
}

.heroDotPlay {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.heroDots {
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.heroDot {
    width: 15px;
    height: 15px;
    background: #ebebeb;
    border-radius: 7.5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.heroDot:hover {
    width: 17px;
    height: 17px;
}

.heroDot.gold {
    background: #cc8503;
}

.heroPlay {
    display: flex;
    align-items: center;
    gap: 30px;
}

.heroPlay img {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 100%;
}

.heroPlay img:hover {
    background-color: #cc8503;
}

.heroPlay p {
    font-size: 19px;
}

@media (max-width: 1170px) {
    .hero h1 {
        font-size: 50px;
    }
}

@media (max-width: 950px) {
    .hero {
        padding: 100px 60px 0 60px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .heroExplore {
        gap: 20px;
        width: fit-content;
        padding: 5px 8px;
        padding-left: 20px;
    }

    .heroExplore p {
        font-size: 15px;
    }

    .heroExplore img {
        height: 40px;
    }

    .heroDotPlay {
        margin-top: 200px;
    }

    .heroPlay img {
        height: 60px;
    }
}

@media (max-width: 750px) {
    .hero {
        padding: 170x 40px 0 40px;
    }
}

@media (max-width: 550px) {
    .hero {
        padding: 100px 20px 0 20px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .heroExplore {
        gap: 15px;
        padding-left: 15px;
    }

    .heroDotPlay {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: flex-start
    }

    .heroPlay {
        gap: 15px;
    }

    .heroPlay img {
        height: 40px;
    }
}

@media (max-width: 380px){
    .hero h1 {
        font-size: 25px;
    }

    .heroExplore {
        gap: 10px;
        padding-left: 10px;
    }

    .heroExplore p{
        font-size: 12px;
    }

    .heroExplore img{
        height: 30px;
    }

    .heroPlay p {
        font-size: 15px;
    }

    .heroDot{
        width: 10px;
        height: 10px;
    }

    .heroDot:hover {
        width: 13px;
        height: 13px;
    }
}