header {
    height: 100vh;
    background-image: url("../../assets/4.png");
    background-size: cover;
    padding: 40px 80px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
}

.info {
    max-width: 500px;
    margin-top: 200px;
}

.info h1 {
    font-size: 60px;
}

.info span {
    font-size: 18px;
    line-height: 26px;
}

@media (max-width: 1000px) {
    header {
        padding: 20px 20px;
    }
}

@media (max-width: 750px) {
    .info h1 {
        font-size: 40px;
    }

    .info span {
        font-size: 15px;
        line-height: 23px;
    }
}

@media (max-width: 570px) {

    .info {
        max-width: 300px;
    }

    .info h1 {
        font-size: 30px;
    }

    .info span {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 425px) {
    .info{
        margin: 200px auto auto auto;
    }
}