.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
    background-color: #ebebeb;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.navLogo {
    width: 40px;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    gap: 40px;
}

.navBtn {
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #262626;
    color: #ebebeb;
    font-weight: bold;
    transition: all .4s ease;
}

.navBtn:hover {
    background-color: #cc8503;
    color: #262626;
}

li a {
    color: #262626;
    font-weight: bold;
    white-space: nowrap;
}

.menuIcon {
    height: 20px;
    display: none;
}

@media (max-width: 1240px) {

    .navBar {
        gap: 50px;
    }

    li a {
        font-size: 15px;
    }
}

@media (max-width: 1065px) {

    .menuIcon {
        display: block;
        z-index: 1000;
        cursor: pointer;
    }

    .navMenu {
        position: absolute;
        top: 0;
        right: -50%;
        height: 100vh;
        width: fit-content;
        display: none;
        flex-direction: column;
        padding: 100px 40px;
        transition: right .6s ease-in-out;
        border-left: 1px solid #382222;
        background-color: #ebebeb;
    }

    .open {
        right: 0;
    }

    .navBtn {
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        color: #262626;
        text-decoration: underline;
    }

    .navBtn:hover {
        background-color: transparent;
        color: #cc8503;
        text-decoration: none;
    }
}

@media (max-width: 650px) {
    .navMenu {
        width: 220px;
    }
}

@media (max-width: 550px) {
    .navMenu {
       font-size: 15px;
       width: 200px;
       padding: 100px 20px;
    }
}


@media (max-width: 480px) {
    .navBar {
        padding: 20px 20px;
        justify-content: space-between;
    }
}