.overview {
    padding: 50px;
    justify-items: center;
}

.overview h5 {
    color: #262626;
    font-size: 30px;
    margin-bottom: 50px;
}

.overviewContent{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.table h5{
    margin-bottom: 10px;
    font-size: 25px;
}

tr{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

td:first-child{
    font-weight: bold;
}

td {
    color: #262626;
}

sup{
    color: #262626;
}

.lambo {
    height: 200px;
    max-width: 400px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 500ms ease-in-out;
}